p { 
    color:red!important; /* va a sobreescribir a todos */
}
#primer-parrafo {
    color:blue; /* va a sobreescribir solo a las clases */
}                 /* pseudoclases y etiquetas */
.parrafo {      
    color:green; /* va a sobreescribir solo a las etiquetas */
}                  /* y pseudoelementos */
p {
    color:orange;
} 
/* modificación de prueba para GitHub de forma local usando VSCode */
/* esta es una edición desde GitHub online pero hice una desde VSCode que fue registrada por GitHub desktop antes que no se vio reflejada acá */
/* al final estaba todo bien, había sido que me faltó "pushear" los cambios desde GitHub desktop y al hacerlo me llegó la notificación de la modificación hecha desde la versión online. Me dió la opción de abrirlo con el VSCode para resolver los conflictos y en una decisión salomónica(?) mantuve a ambos para que me quede el registro */