.box {
    background-color: brown;
    padding: 10px;
    color: blue;
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Cantidad y ancho de columnas*/
    grid-template-rows: 1fr 2fr 3fr; /*Cantidad y ancho de filas*/
    gap: 5px; /*A nivel de filas y columnas*/
}
